.header {
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-section {
  width: 20%;
  color: #825b09;
  background-color: #fff7e8;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.middle-section {
  flex: 1;
  width: 60%;
  margin-left: 10rem;
  position: relative;
  font-size: 3rem;
}

a:link {
  background-color: #fff7e8;
}

a:visited {
  background-color: #4b8178;
}

a:hover {
  background-color: #5f5b57;
}

.right-section {
  font-size: 30px;
  position: absolute;
  right: 0;
}
